body {
  background-color: rgb(111, 111, 111);
  background-size: cover;
  background-image: url(TypeScriptBack.jpg);
  background-repeat: no-repeat;
  margin: auto;
}

p {
  margin: 5px;
  text-align: justify;
  height: 120%;
}

#content {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  width: 80%;
  padding: 30px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: #087AC8;
}

#picture {
  float: right;
  height: 257px;
}

h1 {
  font-variant: small-caps;
  font-style: italic;
}

li {
  margin-left: 15px;
  list-style-type: square;
}

table {
  width: 80%;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}
td{
  border: 1px solid gray;
  padding: 5px;
}
th{
  background-color: #087AC8;
  color: white;
}

span{
  color: #087AC8;
  font-weight: bold;
}

#keplet{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}